#label-search{
    background: var(--background-color);
    border:1px solid var(--grey-color);
    height: 40px;
    justify-content: space-between;
    width: 263px;
    align-items: center;
    margin: 15px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
span,p{
    color: white;
}
#watch-button {
    margin: 10px;
    display: inline-block;
    color: white;
    background: #7455ff;
    height: 34px;
    width: 25%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

input[type="search"] {
    padding: 8px 12px;
    background-color: transparent;
    font-size: 16px;
    color: rgb(223, 218, 218);
}
input[type="search"]::placeholder {
    color: #999;
}

 input[type="search"]:focus {
    outline: none;
}
header{
    background: var(--background-color);
    padding: 30px;
    border-bottom:1px solid var(--grey-color);

}
h1{
    color: white;
}
main{
    height: calc(100vh - 97.09px);
    width: 100%;
    background: var(--background-color);
    flex-direction: column;
    align-items: center;
}
.container{
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
}
.panel{
    width: 100%;
    height: 50px;
    align-items: center;
}

.users-container{
    height: 100%;
    width: 100%;
}

.content-panel{
    border: 1px solid var(--grey-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    align-items: center;
    flex-direction: column;
    width: 562px;
    height: 400px;
}
.header-panel{
    background: var(--grey-color);

}
.header-panel span{
    position: relative;
    left: 30px;
}
#spanName{
    left: 97px;
}
.user-panel{
    justify-content: space-around;
}
.lastPanel{
    border-bottom: 1px solid grey;
}
.crud-button{
    height: 29px;
    width: 57px;
}
.delete-button{
    background: rgb(255, 50, 50);
    color: white;
}
.edit-button{
    background: lightgreen;
}
.pagination{
    height: 34px;
    width: 25%;
    background: grey;
}
a{
    text-decoration: none;
    color: white;
}
.angle{
    color: var(--button-color);
    margin: auto;
}
.pagination{
    margin-top: 5px;
    align-items: center;
    background: var(--background-color);
    width: 167px;
}
.pagButton{
    width: 12px;
    margin: 2px;
    background: var(--background-color);
    color: white;
}
.highlight{
    border: 1px solid var(--grey-color);
}

#form-reg::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  #form-reg{
    position: fixed;
    z-index: 20;
    left: calc(50vw - 450px);
    top: calc(50vw - 450px);
    justify-content: space-between;
    height: calc(100vh*0.4);
    overflow: hidden;
    border-radius: 30px;
    max-width: 956.5px;
    width: 900px;
}
