:root {
    --background-color:#242323;
    --primary-color: #090626;
    --secondary-color: #4b292a;
    --button-color: #7455ff;
    --dark-purple:rgb(30, 28, 40);
    --grey-color:#837c7c;
    font-family: 'Poppins', sans-serif;
}
* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    margin: 0;
}
.flex {
    display: flex;
}
.fl-col-evenSpace{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.fl-row-evenSpace{
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
li {
    list-style: none;
}
.fixed{
    position: fixed;
}
.pointy{
    cursor: pointer;
}
.nonepoint{
    cursor:default;
}
.trans{
    transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -ms-transition:.5s;
    -o-transition:.5s;
}