mainPage-container,main{
    height: 500px;
}

body{
    background: var(--background-color);
    height: 100vh;
}

.seating-grid{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6,50px);
    place-items: center;
    height: 80%;
    width: 100%;
}
.white-background{
    color: white;
    margin: 10px;
}
.seat{
    height: 50px;
    width: 50px;
    background: #000;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

#watch-button{
    margin: 10px;
}

.highlight-seat{
    background: green;
    height: 60px;
    width: 60px;
}
